<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eat the ghost</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    {{!-- <link rel="stylesheet" href="\public\assets\css\pacman_styles.css" type="text/css"> --}}
    <style>
        * {
    text-align: center;
}
body{
    background-image: url("../img/pacman_pic.jpg");
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    {{!-- color: #333; --}}
}

.jumbotron {
    background-image: url("../img/pacman_pic.jpg");
    background-size: cover;
    height: 100%;
}
    </style>

</head>
<body>
{{{ body }}}
<script src="assets/js/main.js"></script>
</body>
</html>