<div class="container">
    <div class="jumbotron">
        <img src="../public/assets/img/pacman.png" width="450px" height="450px">
        <h1> Eat the ghost </h1>
    </div>

    {{!-- ghost list before being eaten --}}
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="panel-panel default">
                <ul class="list-group">
                    {{#each ghosts}}
                        {{#unless eaten}}
                            <li class="list-group-item">
                                <div class="input-group">
                                    <p class="lead"> {{name}} </p>
                                    <span class="input-group-btn">
									<button class="btn chomp btn-default btn-lg" data-id="{{id}}"> CHOMP IT! </button>
							</span>
                                </div>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>


        {{!-- ghost list after being eaten --}}
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="panel panel-default">
                    <ul class="list-group">
                        {{#each ghosts}}
                            {{#if eaten}}
                                <li class="list-group-item">
                                    <p class="lead">{{_name}} </p>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <p class="lead"> Enter the name of the ghost you want to eat & click the submit button. </p>

            {{!-- section to add ghosts --}}
            <form class="create-update-form" action="ghosts/create" method="POST">

                <div class="form-group">
                    <textarea class="form-control input-lg" type="text" name="name" rows="3"> </textarea>
                </div>

                <button class="btn btn-default btn-lg" type="submit">Add ghost!</button>
            </form>
        </div>
    </div>